<% include partials/header %>


<section class="center">
  <h2 class="what">I want to: </h2>
  <section class="buttons">
    <a href="/index" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">See Riders</a>
    <a href="/post" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Post Where I'm Going</a>
  </section>
</section>

<section class="form-bg d-flex justify-content-center">
  <form class="needs-validation" novalidate action="/post" method="POST">

    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="full_name">Full Name</label>
        <input type="text" class="form-control" id="full_name" placeholder="e.g. John Doe" name="full_name" required>
      </div>

      
      <div class="col-md-4 mb-3">
        <label for="mountain">Mountain</label>
        <input type="text" class="form-control" id="mountain" placeholder="e.g. Breckenridge" name="mountain" required>
      </div>


      <div class="col-md-4 mb-3">
        <label for="phone_number">Phone Number</label>
        <input type="text" class="form-control" id="phone_number" placeholder="e.g. xxx-xxx-xxxx" name="phone_number"
          required>
      </div>
    </div>


    <div class="form-row">
      <div class="col-md-6">
        <label for="validationCustom03">Message:</label>
        <input type="text" class="form-control" id="message" name="message" placeholder="e.g. Have room for 1 more in my car.">
      </div>

      <div class="col-md-6">
        <label for="date">When are you going?</label>
        <input type="date" class="form-control" id="date" name="date" placeholder="Date" required>
      </div>
    </div>


    <div class="form-row">
      <label for="time">What time are you leaving?</label>
      <input type="time" class="form-control" id="time" name="time">
    </div>

    <br>

    <div class="input-group col-md-12 mb-3">
      <label for="passengers">I have room for: &nbsp </label>
      <select class="custom-select" name="passengers" id="passengers">
        <option selected>Choose...</option>
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
      </select>
    </div>

    <div class="form-row">
        <label for="insta">Instagram</label>
        <input type="text" class="form-control" id="insta" name="insta">
      </div>



    <hr>
    <button class="btn btn-primary" type="submit">Send it</button>
    <hr>
    <hr>
    <br>
</section>
</form>
</section>


<% include partials/footer %>